{% extends "hola/layout.html" %}
{% block content %}
<div>
  <h1>Iniciar sesión</h1>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}


    <div class="mb-3">
      <label for="username" class="form-label">Username</label> 
      
      {{ form.username }}
      <!--      <input type="text" class="form-control" id="username" aria-describedby="usernameHelp">-->
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      {{ form.password }}
      <!-- <
            <input type="password" class="form-control" id="password">-->
    </div>

    <button type="submit" class="btn btn-primary" value="ACCEDER">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
    {% if form.errors %}
    <p>El usuario y la clave no coinciden, por favor intente nuevamente.</p>
    {% endif %}
  </form>
</div>
{% endblock %}