{% extends "hola/index.html" %}
{% block content %}
<h1 >Acerca de</h1>
<p>Nuestra empresa se dedica a producir cables que otorgan cierta facilidad a los clientes y comodidad para llevarlo.Tenemos muchos trabajadores veteranos en todos los sectores que realizan exitosamente su trabajo y en la parte administrativa personas capaces de realizar sus tareas en tiempo y forma a su vez no decepciona en absoluto ya somos una gran empresa multinacional que tiene cierta idelogias ya complementadas en vision para futuro    
{% endblock %}