{% extends "hola/index.html" %}
{% block content %}
<h1>Contactanos en</h1>
<form method="post" action="{% url 'PRUEBAAPP:contactos' %}">
    {% csrf_token %}

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        {{ form.email }}
        <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"> -->
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Dejanos tu mensaje</label>
        {{ form.mensaje }}
        <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
    </div>
    <button type="submit" class="btn btn-primary me-2"> Enviar</button>
						
</form>

{% endblock %}