{% extends "hola/index.html" %}
{% block content %}
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"></label>
    <input type="text" class="form-control" id="exampleFormControlInput1">
</div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <form class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">subir</button>
  </form>
  <select class="form-select" aria-label="Default select example">
    <option selected>CATEGORIAS</option>
  </select>
  
 
{% endblock %}
