{% extends "hola/index.html" %}
{% block content %}
<div class="container">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Titulo del producto</label>
    <input type="text" class="form-control" id="exampleFormControlInput1"
      placeholder="Ingrese un titulo para el producto">
  </div>
  <div class="row">
    <div class="col-6">



    </div>
    <div class="col-6">
      <div class="card">
        <form>

          <select class="form-select" aria-label="Default select example">
            <option selected>CATEGORIAS</option>
            <option selected>CATEGORIAS 2</option>
            <option selected>CATEGORIAS 3</option>
          </select>

          <div class="input-group">
            <textarea class="form-control" aria-label="textarea"
              placeholder="Ingrese la descripcion del producto"></textarea>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Precio $</span>
            <input type="text" class="form-control">
            <span class="input-group-text">.00</span>
          </div>

         <button class="btn btn-outline-success" type="submit">Guardar Producto</button>
        </form>


      </div>
    </div>
  </div>



</div>

{% endblock %}