{% extends "hola/layout.html" %}
{% block content %}
{% if busqueda %}
<h1>Resultados de Búsqueda</h1>
<h3>Valor buscado: {{busqueda}}</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">PRODUCTO</th>
      <th scope="col">DESCRIPCION</th>
      <th scope="col">PRECIO</th>
      <th scope="col">VER MAS</th>
    </tr>
  </thead>
  <tbody>
    {% for un_producto in productos %}
    <tr>
      <td>{{ un_producto.id}}</td>

      <td>{{ un_producto.titulo}}</td>
      <td>{{ un_producto.descripcion}}</td>
      <td>${{ un_producto.precio}}</td>
      <td>
        <a href="{% url 'PRUEBAAPP:ver-producto' un_producto.id%}" class="btn btn-sm btn-secondary">Comprar</a>
        {% if perms.PRUEBAAPP.change_producto %}
        <a href="{% url 'PRUEBAAPP:editar-producto' un_producto.id%}" class="btn btn-sm btn-success">Editar</a>
        {% endif %}
        {% if perms.PRUEBAAPP.delete_producto %}

        <a href="{% url 'PRUEBAAPP:eliminar-producto' un_producto.id%}" class="btn btn-sm btn-danger">Eliminar</a>
        {% endif %}

      </td>
    </tr>
    {% empty %}
    <tr>
      <td>Sin productos encontados para {{busqueda}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h1>No se ha buscado ningun valor</h1>
{% endif %}
{% endblock %}